<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnerAdminPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.servlet.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>com.servlet.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubject</display-name>
    <servlet-name>AddSubject</servlet-name>
    <servlet-class>com.servlet.AddSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubject</servlet-name>
    <url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSubject</display-name>
    <servlet-name>DeleteSubject</servlet-name>
    <servlet-class>com.servlet.DeleteSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubject</servlet-name>
    <url-pattern>/DeleteSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacher</display-name>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>com.servlet.AddTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeacher</display-name>
    <servlet-name>DeleteTeacher</servlet-name>
    <servlet-class>com.servlet.DeleteTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeacher</servlet-name>
    <url-pattern>/DeleteTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClassServlet</display-name>
    <servlet-name>AddClassServlet</servlet-name>
    <servlet-class>com.servlet.AddClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassServlet</servlet-name>
    <url-pattern>/AddClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClassList</display-name>
    <servlet-name>DeleteClassList</servlet-name>
    <servlet-class>com.servlet.DeleteClassList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClassList</servlet-name>
    <url-pattern>/DeleteClassList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassReport</display-name>
    <servlet-name>ClassReport</servlet-name>
    <servlet-class>com.servlet.ClassReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassReport</servlet-name>
    <url-pattern>/ClassReport</url-pattern>
  </servlet-mapping>
</web-app>